/*CSS Reset*/
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Source Serif Pro';	
}
p, .description, button{	
    font-family: 'Source Serif Pro';	
    text-align: center;	
    margin: 4%;	
    color: #8d9b6a;
}	
h1 {
    font-family:'Raleway';
    font-size: 6rem;
    text-align: center;
    margin:1rem;
    padding: 1rem;
    color: #8d9b6a;
}
a {	
    text-decoration: none;	
    color: #8d9b6a;
    font-size:2.5rem;	
}	
a:hover {	
    font-weight: bold;	
}	
img {	
    height:39rem;	
    object-fit: cover;	
    display: block;	
    margin: 2%;	
    margin-top: 4%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
}	
h4, h4 a{
    color:#8a9ea7;
    font-size: 1.3rem;
}

/*Header Styles*/
header{
    display:flex;
    justify-content: center;
}
nav{
    width: 100%;
    height: 80%;
    display:flex;
    justify-content:space-evenly;
    margin-top:0%;
    background-color: #dab692;
}
nav a{
    color:#8f5b34;
}
header nav a{
    padding:1.5rem;
    font-size: 1.7rem;
}
nav span{
    border-left:1px solid #8f5b34;
}

/*Title Section Styles*/
.title-container{
    height:50vh;
    background-image:url('https://cdn.shopify.com/s/files/1/1637/3125/files/FoliaCollective-PlantsToGo4-Header_1440x640.jpg?v=1584638344');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
.title-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-container div h1{
    color:white;
    font-size: 8rem;
}
.title-container div a button{
    padding:.5% 2%;
    font-size: 1.2rem;
    border-radius:4px;
    background-color:#8d9b6a;
    border:2px solid #8d9b6a;
    box-shadow: 2px 2px 1px #8d9b6a;
    width:auto;
    color:#ffffff;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.title-container div a button:hover{
    background-color:#8d9b6a;
    border:2px solid #8d9b6a;
    color: #ffffff;
    box-shadow: 2px 2px 1px #ffffff;
}

/*Login & Signup Button Styles*/
.login{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#8a9ea7;
    padding:0;
    opacity: 60%;
}
.login a button{
    padding:.5% 2%;
    font-size: 1.5rem;
    border-radius:4px;
    background-color:#dab692;
    border:2px solid #dab692;
    box-shadow: 2px 2px 1px #dab692;
    width:80%;
    color:#8f5b34;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.login a button:hover{
    background-color:#dab692;
    border:2px solid #8f5b34;
    color: #8f5b34;
    box-shadow: 2px 2px 1px #8f5b34;
}

/*App Features Section Styles */
.features-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width:70%;
    padding: 5rem;
    margin:0 auto;
}
.features{
    width:40%;
    text-align:center;
}
.features img{
    width:100%;
}
.features-container .features a{
    font-family:'Raleway';
}

/*About The Team Section Styles*/
.team-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width:70%;
    margin:0 auto;
}
.about{
    width:40%;
    text-align:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.about img{
    border-radius: 50%;
    height: 30vh;
    width: 65%;
}
.team-container h4, .description{
    color: #8d9b6a;
}
.team-container .about a{
    font-family:'Raleway';
}
.social-icon{
    font-size: 1.5rem;
}
/*Footer Styles*/
footer nav{
    width: 100%;
    height: 80%;
    display:flex;
    justify-content:center;
    margin-top:0%;
    background-color: #dab692;
}
footer nav a{
    padding:3rem;
    color:#8f5b34;
}
/*Mobile Media Query 500px*/
@media (max-width:500px){
    body{
        font-size:1.2rem;
    }
    h1{
        font-size:3rem;
    }
    a{
        font-size:2rem;
    }
    nav{
        width:100%;
    }
    header nav a{
        font-size: 1.3rem;
    }
    .title-container div{
        width:100%;
    }
    .title-container div h1{
        font-size:5rem;
    }
    .title-container div a button{
        font-size:1rem;
    }
    .login a button{
        font-size: 1.2rem;
    }
    .features-container{
        flex-direction:column;
        align-items:center;
    }
    .features{
        width:80%;
    }
    .features-container .features img{
        height:30vh;
    }
    .team-container{
        flex-direction:column;
        align-items: center;
    }
    .about{
        width: 80%;
    }
    .about img{
        height:auto;
    }
}

/**/
@media (max-width:650px){
}

/*Tablet Media Query*/
@media (max-width:800px){
    .features{
        width:85%;
    }
    .team-container{
        width:90%;
    }
}